:root {
  --text-color: #3f4142;
}

@font-face {
  font-family: 'montserrat-medium';
  src: url('./Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'quicksand';
  src: url('./Quicksand-Medium.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'quicksand', Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'montserrat-medium', Arial, Helvetica, sans-serif;
  color: #0671af;
  padding-bottom: 16px;
}

button,
input {
  font-family: 'quicksand', Arial, Helvetica, sans-serif;
}
